    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .active {
        background-color: rgb(202, 48, 48);
        color: #475B5A;
    }
    
    .aboutCompany {}
    
    .aboutCompany__header {
        color: #7FC6A4;
        padding-top: 20px;
    }
    
    .aboutCompany__image {
        max-width: 200px;
        padding: 0px 10px;
        float: left;
    }
    
    .body {
        background: #CEE0DC;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px auto;
        width: auto;
        line-height: 1.4;
    }
    
    .body__header--title {
        font-size: 55px;
        text-align: left;
        padding-top: 30px;
        padding-left: 30px;
    }
    
    .body__logo__link {
        border: 2px solid #19323C;
        border-radius: 3px;
        box-sizing: content-box;
        color: #CEE0DC;
        font-weight: bold;
        height: 55px;
        padding: 0px 9px 0px 7px;
        text-decoration: none;
        transition: border 1s;
    }
    
    .body__logo__link:hover {
        border-color: rgb(202, 48, 48);
    }
    
    .header {
        background-color: #19323C;
        height: 115px;
    }
    
    .header__v33__homepage__link {}
    
    .header__logo__v33__image {
        border: 2px solid #CEE0DC;
        border-radius: 3px;
        box-sizing: content-box;
        height: 55px;
        margin-top: 3px;
        position: absolute;
        right: 40px;
        top: 30px;
        transition: border 1s;
    }
    
    .header__logo__v33__image:hover {
        border-color: rgb(202, 48, 48);
    }
    
    .label-wraper {
        display: block;
    }
    
    .label-wraper-description {
        color: #435058;
        display: block;
        font-size: 15px;
        padding: 10px;
    }
    
    .main {
        width: 100%;
        max-width: 800px;
        margin: 30px auto;
    }
    
    .main__header {
        padding-top: 0px;
        text-align: center;
    }
    
    .main__header--title {
        color: #514F59;
        font-size: 25px;
        text-align: center;
        padding-bottom: 10px;
    }
    
    .main__header__paragraph {
        color: #514F59;
        font-size: 16px;
        text-align: center;
    }
    
    .main__azure__image,
    .main__inspiration__image {
        display: inline-block;
        max-width: 300px;
        padding: 0 20px;
    }
    
    .main__inspiration__image {
        height: 280px;
        width: auto;
        padding-bottom: 10px;
    }
    
    .menu__navigation__bar {
        background: #19323C;
        box-shadow: 1px 1px 6px rgba(41, 38, 38, 0.767);
        display: flex;
        height: 70px;
        position: sticky;
        top: 0;
        width: 100%;
    }
    
    .menu {
        display: flex;
        height: 70px;
        list-style: none;
        padding: 0 20px;
        text-align: center;
    }
    
    .menu__item {
        margin: 0;
        padding: 0;
        display: inline-block;
        height: auto;
        text-align: center;
        transition: background 1s;
        max-width: 150px;
    }
    
    .menu__item__link {
        color: #CEE0DC;
        cursor: pointer;
        display: block;
        height: auto;
        padding: 17px 20px;
        text-decoration: none;
        text-align: center;
    }
    
    .menu__item:hover {
        background-color: rgba(255, 0, 0, 0.438);
    }
    
    .menu__subMenu__in__conteiner {
        display: none;
        height: auto;
        margin: 0 auto;
        max-width: 950px;
        position: relative;
        text-align: left;
    }
    
    .menu__subMenu__out__conteiner {
        display: none;
        margin: 0 auto;
        max-width: 950px;
        width: auto;
        text-align: left;
    }
    
    .menu__subMenu__liberon {
        display: none;
        margin: 0 auto;
        max-width: 950px;
        width: auto;
        text-align: left;
    }
    
    .menu__item:hover .menu__subMenu__in__conteiner {
        background-color: #B0B2B1;
        display: inline;
        margin: 0 auto;
        max-width: 818px;
        position: absolute;
        left: 2em;
        right: 2em;
    }
    
    .menu__item:hover .menu__subMenu__out__conteiner {
        background-color: #B0B2B1;
        display: inline;
        margin: 0 auto;
        max-width: 818px;
        width: auto;
        position: absolute;
        left: 2em;
        right: 2em;
    }
    
    .menu__item:hover .menu__subMenu__liberon {
        background-color: #B0B2B1;
        display: inline;
        margin: 0 auto;
        max-width: 818px;
        width: auto;
        position: absolute;
        left: 2em;
        right: 2em;
    }
    
    .menu__subMenu {
        box-shadow: 0 1px 5px rgba(41, 38, 38, 0.767);
        display: block;
    }
    
    .menu__subMenu__link:hover {
        color: #CEE0DC;
    }
    
    .menu__subMenu__link:hover .label-wraper-description {
        color: #CEE0DC;
    }
    
    .menu__subMenu__productsList__link:hover {
        color: #CEE0DC;
    }
    
    .menu__subMenu__item {
        display: inline-flex;
        font-size: 20px;
        list-style: none;
        padding: 20px 0px 20px 20px;
    }
    
    .menu__subMenu__item:last-child {
        padding-right: 20px;
    }
    
    .menu__subMenu__item--conteiner {
        display: inline-table;
        max-width: 233px;
        width: 100%;
    }
    
    .menu__subMenu__link {
        color: #19323C;
        display: block;
        width: 243px;
        text-decoration: none;
    }
    
    .menu__subMenu__productsList {
        display: block;
    }
    
    .menu__subMenu__productsList__item {
        display: block;
        list-style: none;
        text-align: left;
    }
    
    .menu__subMenu__productsList__link {
        color: #435058;
        display: block;
        font-size: 15px;
        padding: 10px;
        text-decoration: none;
    }
    
    .navigation__link {
        padding: 5px;
        color: lightslategrey;
        text-decoration: none;
    }
    
    .navigation__link--top {
        position: fixed;
        right: 0px;
        bottom: 15px;
        padding: 5px;
    }
    
    .where {
        width: 100%;
    }
    
    .where__image {
        padding-right: 10px;
        max-width: 200px;
        float: left;
    }
    
    .where__paragraph {
        width: 100%;
        display: block;
    }
    
    .prodocts_col_left {
        width: 33.33%;
    }
    
    .products_col_right {
        width: 66.66%;
    }
    
    .products_box--conteiner {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: 10px auto;
        padding: 0;
        width: 100%;
    }
    
    .product_box {
        display: block;
        background-color: #19323C;
        height: 200px;
        width: 100%;
        box-shadow: 0 1px 5px rgba(41, 38, 38, 0.767);
    }
    
    .product_box--header {
        color: rgb(202, 48, 48);
        display: block;
        height: 30%;
        margin-top: 10px;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
        transition: color 1s;
    }
    
    .product_box:hover .product_box--header {
        color: #CEE0DC;
    }
    
    .product_box--link {
        text-decoration: none;
    }
    
    .product_box--paragraph {
        color: #CEE0DC;
        height: 50%;
        margin: auto;
        max-height: 80%;
        max-width: 80%;
    }
    
    .products-inspiration-image {
        display: block;
        height: 350px;
        margin: 0 20px;
        padding: 20px;
    }
    
    .products__main--conteiner {
        box-sizing: border-box;
        max-width: 1000px;
        margin: 0 auto;
        padding: 30px 0;
        width: 100%;
    }
    
    .product__main__header {
        display: block;
    }
    
    .products__main--paragraph {
        color: #19323C;
        display: block;
        font-size: 15px;
        margin: 0 auto;
        padding: 60px 20px 0;
    }
    
    .products__main--title {
        color: #19323C;
        display: block;
        padding: 20px;
        text-transform: uppercase;
    }
    
    .products_row {
        display: flex;
        padding-top: 20px;
        margin: 0 auto;
    }
    
    .stock {
        clear: both;
    }
    
    .stock__header {}
    
    .stock__link {
        color: #9B9B93;
        text-decoration: none;
    }
    
    .section__header {
        text-decoration: none;
        color: #7FC6A4;
        font-size: 20px;
        padding: 16px 0 0 16px;
    }
    
    .paragraph {
        color: #9B9B93;
        width: 100%;
        line-height: 20px;
        padding-top: 16px;
    }
    
    .footer {
        background: rgba(0, 0, 0, .0);
        box-sizing: border-box;
        font-size: 10px;
        position: fixed;
        bottom: 0%;
    }